<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="android.pp"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="@string/app_name" android:debuggable="true" android:icon="@drawable/icon">

	<activity android:name=".GanduClient" android:label="@string/app_name">
		<intent-filter>
			<action android:name="android.intent.action.MAIN"></action>
			<category android:name="android.intent.category.LAUNCHER"></category>
		</intent-filter>	
	</activity>
	<activity android:name=".ContactBook">
	</activity>
	<activity android:name=".Chat">
	</activity>
	<activity android:name=".Tab">
	</activity>
	<activity android:name=".AddNewContact" 
	android:theme="@android:style/Theme.Dialog">
	</activity>

    
    
<service android:name="GanduService" android:process=":GanduUsluga">
	<intent-filter>
		<action android:name="android.pp.GanduS" /> 
	</intent-filter>
</service>
</application>


<uses-sdk android:minSdkVersion="3"></uses-sdk>

<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 